In [17]:
import pandas as pd

In [18]:
pd.read_csv('snp500info.csv', index_col=0).head()

,Security,GICS Sector,GICS Sub Industry,start at yahoo
Ticker symbol,,,,
MMM,3M Company,Industrials,Industrial Conglomerates,1970-01-02 00:00:00
ABT,Abbott Laboratories,Health Care,Health Care Equipment,1980-03-17 00:00:00
ABBV,AbbVie Inc.,Health Care,Pharmaceuticals,2013-01-02 00:00:00
ACN,Accenture plc,Information Technology,IT Consulting & Other Services,2001-07-19 00:00:00
ATVI,Activision Blizzard,Information Technology,Home Entertainment Software,1993-10-25 00:00:00

In [23]:
branches_ = pd.read_csv('snp500info.csv', index_col=0)
branches = branches_.drop(columns = ['Security', 'GICS Sub Industry', 'start at yahoo'])
branches

                          GICS Sector
Ticker symbol
MMM                       Industrials
ABT                       Health Care
ABBV                      Health Care
ACN            Information Technology
ATVI           Information Technology
...                               ...
XYL                       Industrials
YUM            Consumer Discretionary
ZBH                       Health Care
ZION                       Financials
ZTS                       Health Care

[505 rows x 1 columns]

In [26]:
from numpy import array
from numpy import argmax
from keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
data = branches.iloc[:,0]
# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(data)
print(integer_encoded)
# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print(onehot_encoded)
# invert first example
#inverted = label_encoder.inverse_transform([argmax(onehot_encoded[0, :])])
#print(inverted)

[ 5  4  4  6  6  5  6  6  0 10  4  3  3  4  7  6  5  7  8  4  4  5  4  6
 10  3  6  6  1  0 10  5 10  3  3  8 10  3  4  5  4  6  2  6  2  6  4  3
  5  2  8  6  6  1  5  3  3  9  6  6  0  8  7  2  7  3  3  4  4  3  4  3
  0  4  3  3  5  0  8  4  3  4  6  1  5  6  2  6  1  3  4  3  0  0  5  8
  0  4  4 10  9  4  7  3  0  2  2  0  3  1  4  2  3  5  6  3  3  6  1  3
 10  1  6  1  0  3  1  2  2 10  1  4  6  1  1  8  6  5  5  1  0  4  0  4
  5  0  5  4  2  8  3  0  0  0  0  0 10  5  7  1 10  8 10  6  3  7  5  6
  7 10  4  6  5 10  4  2  2  5  8  8  8  1 10  3 10  0  5  4  8  2  6  6
  5  8  5  6  3 10  6  6  5  5  7  0  0  5  5  3  7  0  0  6  5  5  8  1
  0  0  4  6  3  0  5  2  0  0  6  3  0  4  8  2  4  1  2  6  0  4  0  5
  1  8  6  4  3  4  5  5  4  5  6  3  6  4  7  0  7  6  4  3  4  8  5  5
  1  4  5  3  6  5  1  3  1  8  2  6  0  1  1  0  5  4  6  0  0  3  4  3
  0  5  3  0  7  3  8  0  2  2  0  3  7  5  6  0  1  0  4  4  4  3  4  0
  0  6  6  6  8  0  1  1  7  1  3  3  7  6  4  3  2  3  6  6  0  2  7  0
  0 10  5  0 10  2  0  5  3  5  0 10  7  6  0  2  0  2  6  5  7  5  4  6
  6  5  3  1  4  4  4 10  1  2 10  2  3  0  7 10  7  0  3  1  3  8  3 10
  8  0  0  6  5  6  4  2  3  5  8  6  8  4  3  5  4  5  5  5  5  0  0  6
  8 10  2  0  6  7 10  7  0  8  6  8  0 10  5  3  0  0  3  5  4  3  6  3
  6  1  3  0  0  6  2  6  5  4  0  0  0  3  6  0  5  3  0  0  0  1  8  0
  3  0  0  5  5  4  5  5  5  4  3  0  2  4  8  6  5  9  4  0  6  8  7  1
  1  0  5  4 10  3  8  6  6  7  8  0  2  3  0  0 10  6  6  3  5  0  4  3
  4]
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]